<%- include('partials/header') -%>
<div class="container">
    <div class="row">

    <div class="col-md-4 col-sm-6">
        <div class="card" >
            <img class="card-img-top" style="width:inherit;height:300px" src="../images/shubhamsinghSir.jpg" alt="Card image">
            <div class="card-body">
              <h3 class="card-title" >Shubham Singh</h3>
              <a href="https://www.facebook.com/profile.php?id=100003631325219&epa=SEARCH_BOX"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/profile.php?id=100003631325219&epa=SEARCH_BOX"><i class="fa fa-github" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/profile.php?id=100003631325219&epa=SEARCH_BOX"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
          </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="card" >
            <img class="card-img-top" style="width:inherit; height:300px" src="../images/jkssuryaraoSir.jpg" alt="Card image">
            <div class="card-body">
              <h3 class="card-title" >Jks Suryarao</h3>
              <a href="https://www.facebook.com/jkssuryarao"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/jkssuryarao"><i class="fa fa-github" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/jkssuryarao"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
          </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="card" >
            <img class="card-img-top" style="width:inherit; height:300px" src="../images/archismanSir.jpg" alt="Card image">
            <div class="card-body">
              <h3 class="card-title" >Archisman Bhattacharjee</h3>
              <a href="https://www.facebook.com/profile.php?id=100009380622353"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/profile.php?id=100009380622353"><i class="fa fa-github" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/profile.php?id=100009380622353"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
          </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="card" >
            <img class="card-img-top" style="width:inherit; height:300px" src="../images/akshaySir.jpg" alt="Card image">
            <div class="card-body">
              <h3 class="card-title" >Akshay Jain</h3>
              <a href="https://www.facebook.com/profile.php?id=100004213751280"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/profile.php?id=100004213751280"><i class="fa fa-github" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/profile.php?id=100004213751280"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
          </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="card" >
            <img class="card-img-top" style="width:inherit; height:300px" src="../images/shubhamkumarSir.jpg" alt="Card image">
            <div class="card-body">
              <h3 class="card-title" >Shubham Kumar</h3>
              <a href="https://www.facebook.com/shubham.aarya.100"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/shubham.aarya.100"><i class="fa fa-github" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/shubham.aarya.100"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
          </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="card" >
            <img class="card-img-top" style="width:inherit; height:300px" src="../images/abhishek.jpg" alt="Card image">
            <div class="card-body">
              <h3 class="card-title" >Abhishek Kumar Jain</h3>
              <a href="https://www.facebook.com/profile.php?id=100011062030626"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/profile.php?id=100011062030626"><i class="fa fa-github" aria-hidden="true"></i> </a>
              <a href="https://www.facebook.com/profile.php?id=100011062030626"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
          </div>
        </div>
    </div>
</div>
</div>
<%- include('partials/footer') -%>
